<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hbv.wci.world_class_iceland"
    android:versionCode="1"
    android:versionName="1.0" >
    
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        
        <activity
            android:name="hbv.wci.world_class_iceland.skraning.Innskraning"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="hbv.wci.world_class_iceland.skraning.Nyskraning"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" ></activity>
        
        <activity 
            android:name="hbv.wci.world_class_iceland.opnunartimar.Opnunartimar"
            android:screenOrientation="portrait"
            android:label="@string/opnunartimar" ></activity>
       
        <activity 
            android:name="hbv.wci.world_class_iceland.opnunartimar.Opnunartimi"
            android:label="@string/opnunartimar"
            android:screenOrientation="portrait" ></activity>
        <activity 
            android:name="hbv.wci.world_class_iceland.stundatafla.Stundataflagamalt"
            android:screenOrientation="portrait" ></activity>
        <activity 
            android:name="hbv.wci.world_class_iceland.stundatafla.StundataflaActivity"
            android:screenOrientation="portrait" ></activity>
        <activity 
            android:name=".Expandable"
            android:screenOrientation="portrait" ></activity>
    </application>

</manifest>
